main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px;
   
}
div p {
    color: var(--color-toda-letra);
}